.stadiumDetails {
    display: flex;
    justify-content: center;
}
.stadiumDetails__div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.stadiumDetails__text {
    font-size: 30px;
    color: white;
    text-shadow: 3px 2px 5px black;
}
.stadiumDetails__seats {
    display: grid;
    grid-template-columns: repeat(6, 4fr);
    grid-gap: 40px;
}
.stadiumDetails__seat {
    display: flex;
    justify-content: center;
    text-align: center;
}