.home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.home__text {
    font-size: 90px;
    color: white;
    text-shadow: 3px 2px 5px black;
}
.home a {
    text-decoration: none;
}
.home button {
    font-size: 20px;
    background-color: orangered;
    color: white;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: 0.2s;
    padding: 20px 60px;
}
.home button:hover {
    background-color: rgb(206, 55, 0);
    transition: 0.2s;
}
.home button:focus {
    outline: none;
}

@media only screen and (max-width: 992px) {
    .home__text {
        font-size: 60px;
    }
    .home button {
        font-size: 14px;
        padding: 10px 25px;
    }
}
@media only screen and (max-width: 768px) {
    .home__text {
        font-size: 50px;
    }
    .home button {
        font-size: 18px;
        padding: 20px 40px;
    }
}
@media only screen and (max-width: 600px) {
    .home__text {
        font-size: 40px;
    }
    .home button {
        font-size: 14px;
        padding: 10px 25px;
    }
}
